p {
    font-size: 11pt;
}

.card-body {
    width: 108%;
    margin-left: -0.6rem;
}

.carousel-item {
    height: 600px;
}

.card.container-fluid img {
    height: 245px;
}

#cardContainer {
    height: calc(200vh + 62vh);
    width: 360px;
    margin: 0 auto;
}

#cardContainer a {
    margin: 2%;
}