#home img{
    width: 100%;
    
}
#die img{
    width: 100%;
}
#group img{
    width: 100%;
}
#list img{
    width: 100%;
}
#settings img{
    width: 100%;
}
#home {
    width: 20%;
    padding: 5%;
}
#die {
    width: 20%;
    padding: 5%;
}
#group {
    width: 20%;
    padding: 5%;
}
#list {
    width: 20%;
    padding: 5%;
}
#settings {
    width: 20%;
    padding: 5%;
}
body {
    background-color: coral;
}
.container {
    width: 75%;
    float: right;
}
#Welcome {
    width: 100%;
    font-size: 25pt;
}
#logo {
    width: 20%;
}
#logo img{
    width: 100%;
}
.card-body {
    text-align: center;
    margin-top: 10%;
}
#test1 {
    width: 50%;
}
#test2 {
    width: 50%;
}
#test3 {
    width: 50%;
}
#test4 {
    width: 50%;
}

#back {
    margin-top: 15%;
    margin-left: 5%;
}

#sectionTitle {
    margin-left: -34%;
    margin-top: 2%;
}

#list {
    margin-top: 25%;
    width: 100%;
    height: 120%;
}

.description {
    margin-top: -25%;
    margin-left: 3%;
    margin-bottom: 14%;
}

#buttons {
    margin-top: -10%;
}

#previous {
    margin-top: -80%;

}

#next {
    margin-top: -80%;

}
