p {
    font-size: 11pt;
}

#buttons button {
    margin: 2%;
    width: 45%;
}

.card-body {
    width: 105%;
    margin-left: -0.4rem;
    padding: 3%;
}

.card.container-fluid img {
    height: 248px;
    margin-top: 4%;
}

.card.mt-3.container-fluid {
    width: 355px;
    background-color: #FFD1AA;
}

#cardContainer {
    margin: 0 auto;
    margin-bottom: 13.5vh;
}

#cardContainer a {
    margin: 2%;
}