#home img{
    width: 100%;
    
}
#die img{
    width: 100%;
}
#group img{
    width: 100%;
}
#list img{
    width: 100%;
}
#settings img{
    width: 100%;
}
#home {
    width: 20%;
    padding: 5%;
}
#die {
    width: 20%;
    padding: 5%;
}
#group {
    width: 20%;
    padding: 5%;
}
#list {
    width: 20%;
    padding: 5%;
}
#settings {
    width: 20%;
    padding: 5%;
}

body {
    background-color: coral;
}

#host {
    margin: 50px;
}

#join {

}