body {
    padding-bottom: 70px;
}

p {
    font-size: 11pt;
}

.card-body {
    width: 108%;
    margin-left: -0.6rem;
}

.carousel-item {
    height: 600px;
}

.card.container-fluid img {
    height: 245px;
}


#cardContainer {
    width: 360px;
    margin: 0 auto;
    overflow: scroll;
}

#cardContainer a {
    margin: 2%;
}

#back {
    background-color: peachpuff;
}

.card.mt-3.container-fluid {
    width: 355px;
    background-color: #FFD1AA;
}

#no-button {
    background-color:orangered;
    color: white;
}



.btn.btn-success.text-center {
    background-color:rgb(250, 170, 79);
}
