.container {
    text-align: center;
}

#button-container {
    margin-top: 8vh;
}

#button-container div {
    width: 250px;
    margin-bottom: 8vh;
}

#button-container a {
    font-size: 12pt;
    /* background-color: rgba(131, 131, 131, 0.24); */
    background-color: #FFD1AA;
}

