* body {
    background-color: rgb(255, 127, 80);
}

#button-container {
    margin-top: 20%;
}

.container.text-center {
    width: 250px;
    margin-bottom: 22%;
}

.container.text-center a {
    font-size: 12pt;
    background-color: #FFD1AA;
}
