
#caption {
    width: 94%;
    margin: 0 auto;
}

#directions {
    float: right;
    margin-bottom: 5%;
}

#buttons button {
    margin: 2%;
    width: 45%;
}

#cardContainer {
    width: 90%;
    margin: 0 auto;
}

#cardContainer img {
    height: 248px;
}