.btn.btn-danger {
    float: right;
}

.list-group {
    margin-top: 3vh;
}

.btn.btn-dark.container-fluid.mt-4 {
    margin-bottom: 14vh;
}

#preferences {
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    width: 948px;
}
